#packdark
{
	font-family:"Arial";
	width:390px;
	height:440px;
	text-indent:5px;
	background-color:#DBDBDB;
	border: 2px solid #CCCCCC;
	padding:0px;
	margin-top: 30px;
	margin-left: 0px;
	margin-right: 0px;
	position: relative;

}

#pack
{
	font-family:Arial;
	background-color:#CCCCCC;
	color:#666666;
	height: 20px;
	padding: 5px;
	margin: 0px;
	font-style: italic;
}

#packprice
{
	font-family: Arial;
	width: 378px;
	height: auto;
	padding: 5px;
	background-color: #DBDBDB;
	border: 2px solid #CCCCCC;
	font-size: 12px;
	float: left;
	margin-bottom: 5px;
	margin-left: 5px;
 
}
#packprice ul li {
	color: #333;
	line-height: 20px;
	font-size: x-small;
}


#despackcart
{
	font-family:"Arial";
	width:682px;
	text-indent:5px;
	background-color:#DBDBDB;
	border: 2px solid #CCCCCC;
	height: 180px;
	padding:0px;
	font-size: small;
	margin: 0px;
}
#despackcartdark
{
	font-family:"Arial";
	background-color:#CCCCCC;
	color:#000000;
	height: 25px;
	padding:5px;
	margin-bottom: 5px;
	margin-top: 0px;

}

#milepackdark
{ 
 font-family:"Arial";   
 width:380px;
 height:200px;
 text-indent:5px;
 background-color:#DBDBDB;
 border: 2px solid #CCCCCC;
  padding:5px;

}

#milepack
{ 
    font-family:"Arial";
  background-color:#CCCCCC;
  color:#000000;
  height: 25px;
}

#milepackprice
{
 font-family:"Arial";   
 width:380px;
 height:150px;
 padding:5px;
 background-color:#DBDBDB;
 border: 2px solid #CCCCCC;
 
}
#achievepackprice
{
 font-family:"Arial";   
 width:380px;
 height:286px;
 padding:5px;
 background-color:#DBDBDB;
 border: 2px solid #CCCCCC;
 
}
#gppackprice
{
 font-family:"Arial";   
 width:380px;
 height:386px;
 padding:5px;
 background-color:#DBDBDB;
 border: 2px solid #CCCCCC;
 
}
#scholarpackprice
{
 font-family:"Arial";   
 width:380px;
 height:326px;
 padding:5px;
 background-color:#DBDBDB;
 border: 2px solid #CCCCCC;
 
}
#achievepackdark
{ 
font-family:"Arial";
 width:380px;
 height:558px;
 text-indent:5px;
 background-color:#DBDBDB;
 border: 2px solid #CCCCCC;
  padding:5px;

}
#gppackdark
{ 
font-family:"Arial";
 width:380px;
 height:612px;
 text-indent:5px;
 background-color:#DBDBDB;
 border: 2px solid #CCCCCC;
  padding:5px;

}
#scholarpackdark
{ 
font-family:"Arial";
 width:380px;
 height:630px;
 text-indent:5px;
 background-color:#DBDBDB;
 border: 2px solid #CCCCCC;
  padding:5px;

}
#achievedespackcart
{
  font-family:"Arial";  
  width:655px;
  text-indent:5px;
  background-color:#DBDBDB;
  border: 2px solid #CCCCCC;
  height: 180px;
  padding:5px;
}
#gpdespackcart
{
  font-family:"Arial";  
  width:655px;
  text-indent:5px;
  background-color:#DBDBDB;
  border: 2px solid #CCCCCC;
  height: 180px;
  padding:5px;
}
#scholardespackcart
{
	font-family:"Arial";
	width:655px;
	text-indent:5px;
	background-color:#DBDBDB;
	border: 2px solid #CCCCCC;
	height: 164px;
	padding:5px;
}
.floatright {
	float: right;
}
.floatleft {
	float: left;
}
