<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--  developerkeys-->
    <add key="GatewayTest" value="True"/>
    <add key="ApiLogin" value="4Q3Mjyg9A"/>
    <add key="TransactionKey" value="9qEqPGcK56y387kX"/>
    <add key="MerchantHash" value="MERCHANT_HASH"/>
    <!-- Jostens Keys</
            AuthNet Gateway
               <add key="GatewayTest" value="False" />
    <add key="ApiLogin" value="8h9c5ZJJ9FS"/>
    <add key="TransactionKey" value="3F76v236Lp7KgzX8"/>
    <add key="MerchantHash" value="MERCHANT_HASH"/>-->
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <!-- here you define the way you want to be notified -->
    <!-- LogEvent = 1, FileLog = 2 e Email = 4. Use 0 when you don't want to be notified -->
    <add key="errorNotifier_NotifyMode" value="4"/>
    <!-- Here you define the event source entry in your LogEvent, the default value is ASP.NET App Error -->
    <add key="errorNotifier_EventLogSource" value="Sample App error"/>
    <!-- Here you define the full path where the file logging should occur -->
    <add key="errorNotifier_Filename" value="error.txt"/>
    <!-- The email address that will receive the notifications -->
    <add key="errorNotifier_EmailTo" value="error@mydomain.com"/>
    <!-- The email account that sends the emails -->
    <add key="errorNotifier_EmailFrom" value="errornotifier@mydomain.com"/>
    <!-- The email subject -->
    <add key="errorNotifier_EmailSubject" value="Error in ASP.NET app"/>
    <!-- The SmtpServer address. Just use if you don't want to use the local SmtpServer -->
    <add key="errorNotifier_EmailSmtpServer" value="mySmtpServerAddress"/>
    <!-- EmailSettings For KK5-->
    <add key="FromAddr" value="randy@woodalldevelopment.com"/>
    <add key="FromName" value="WDTest"/>
    <add key="SmtpServer" value="smtpout.secureserver.net"/>
    <add key="smtpuser" value="randy@woodalldevelopment.com"/>
    <add key="smtppassword" value="briggitte"/>
    <!-- jostens ftp server-->
    <add key="ftpserver" value="ftp://iftp.jostens.com/"/>
    <add key="ftpserveruser" value="peftpuser"/>
    <add key="ftpserverpw" value="GSuVEyV86kTT"/>
    <!--Drop Directoy for banners-->
    <add key="bannerftpserver" value="ftp://cmain1/Test/BannerImages/"/>
    <add key="bannerftpuser" value="rwoodall"/>
    <add key="bannerftppw" value="Briggitte18"/>
    <add key="bannerunc" value="\\cmain1\ftp\Test\BannerImages\"/>
    <!-- banner info
    <add key="bannerftpserver" value="ftp://ftp.jostenskinderkraft.com"/>
    <add key="bannerftpuser" value="banner"/>
    <add key="bannerftppw" value="Jostens1"/>-->
  
  </appSettings>
  <connectionStrings>
    <add name="KK5" connectionString="server=192.168.1.101;User Id=root;allow user variables=true;password=3l3phant1;Persist Security Info=True;database=testkinderkraft5" providerName="MySql.Data.MySqlClient"/>
    <!-->
    <add name="KK5" connectionString="server=databases;User Id=root;password=3l3phant1;Persist Security Info=True;database=kinderkraft5" providerName="MySql.Data.MySqlClient"/></-->
  </connectionStrings>
  <system.web>
    <identity impersonate="true" userName="wdfm\rwoodall" password="Briggitte18" />
    <customErrors mode="Off"/>
    <httpRuntime executionTimeout="240" maxRequestLength="20480" requestValidationMode="2.0"/>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="CrystalDecisions.Data.AdoDotNetInterop, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.TemplateEngine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Enterprise.Viewing.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.CommLayer, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.CommonControls, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.CommonObjectModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.CubeDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataSetConversion, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ObjectFactory, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Prompting, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ReportDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.XmlSerialize, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Windows.Forms, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="MySql.Web, Version=6.9.5.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="MySql.Data, Version=6.9.5.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="MySql.Data.Entity, Version=6.9.5.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </buildProviders>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <authentication mode="Forms"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true"/>
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>
</configuration>